@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./colors";
@import "./variables";

body{
    background-color: $gray-light;
    color: $gray-dark;
    cursor: default;
    font-size: $font-size-base;
    font-family: 'Poppins', sans-serif;
}